/* ESTILO GERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: linear-gradient(
        to bottom,
        rgb(36, 102, 163),
        rgb(76, 148, 216),
        rgb(139, 197, 252),
        rgb(193, 221, 248),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255));
        height: 100vh;
        background-size:400% 400%;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 500;
    color:#fcfcfc;
    background-color:rgb(0, 65, 139);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .1s;
}
.contato2 button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color:rgb(0, 65, 139);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .1s;
}
.contato button:hover {
    box-shadow: 0px 0px 8px rgb(0, 65, 139);
    transform: scale(1.05);
}

/* ESTILO DO CABEÇALHO */
header {
    padding: 40px 4%; 
}
header .interface .logo {
    display: flex;
    align-items: center;
}
header .interface .logo h1 {
    color: #fff;
    margin-left: 5px;
    align-items: center;
    display: flex;
}
header .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a {
    color: #fcfcfc;
    text-decoration: none;
    padding: 10px 10px;
    display: inline-block;
    transition: .1s;
}
header a:hover {
    color: #fff;
    transform: scale(1.05);
}
header nav ul {
    list-style-type: none;
}
header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

.topo {
    align-items: center;
    justify-content: center;
    display: flex;
}

.topo .interface h1 {
    font-size: 70px;

}

/* MISSÕES E VALORES */
.flex2 {
    display: flex;
    justify-content: center;
}
.missval ul li {
    padding: 10px 0;
    color: rgb(35, 50, 91);
}
.missval ul {
    list-style-type: disc;
    text-align: justify;
}
.missval .missao {
    width: 50%;
}
.missval .valores {
    width: 50%;
}
.missval .valores ul {
    margin-left: 5%;
}
.missval .missao ul {
    margin-right: 5%;
}

/* FOOTER */
footer {
    height: 100px;
    background-color: rgb(36, 102, 163);
    padding: 15px;
}

footer p{
    text-align: center;
    color: #fff;
    clear: both;
}