* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: dodgerblue;
}
nav li {
    display: inline-block;
}
nav li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 15px;
}